bind-address=0.0.0.0

# Optimización para base de datos Moodle
innodb_file_per_table=1
innodb_buffer_pool_size=1G
innodb_log_file_size=256M
innodb_flush_log_at_trx_commit=2
max_connections=200
max_allowed_packet=512M
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
default_storage_engine=InnoDB
